* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

p {
  font-size: 15px;
}

body .main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .main-container .top-container {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main-container .top-container .top-inner-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
body .main-container .top-container .top-inner-container :nth-child(1) {
  font-size: 34px;
  font-weight: 200;
  color: #666666;
}
body .main-container .top-container .top-inner-container :nth-child(2) {
  font-size: 34px;
  font-weight: 600;
  color: #595959;
}
body .main-container .top-container .top-inner-container :nth-child(3) {
  width: 40vw;
  min-width: 350px;
}
body .main-container .top-container .top-inner-container :nth-child(3) p {
  font-size: 15px;
  margin-top: 20px;
  color: #b3b3b3;
}
body .main-container .mid-container {
  margin-top: 50px;
}
body .main-container .mid-container .parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}
body .main-container .mid-container .parent .supervisor {
  grid-area: 2/1/4/2;
  border-top: 5px solid hsl(180, 62%, 55%);
  box-shadow: 2px 10px 30px hsl(234, 12%, 90%), -1px 10px 30px hsl(234, 12%, 90%);
}
body .main-container .mid-container .parent .team-builder {
  grid-area: 1/2/3/3;
  border-top: 5px solid hsl(0, 78%, 62%);
  box-shadow: 2px 10px 30px hsl(234, 12%, 90%), -1px 10px 30px hsl(234, 12%, 90%);
}
body .main-container .mid-container .parent .karma {
  grid-area: 3/2/5/3;
  border-top: 5px solid hsl(34, 97%, 64%);
  box-shadow: 2px 10px 30px hsl(234, 12%, 90%), -1px 10px 30px hsl(234, 12%, 90%);
}
body .main-container .mid-container .parent .calculator {
  grid-area: 2/3/4/4;
  border-top: 5px solid hsl(212, 86%, 64%);
  box-shadow: 2px 10px 30px hsl(234, 12%, 90%), -1px 10px 30px hsl(234, 12%, 90%);
}
body .main-container .mid-container .parent > div {
  width: 350px;
  height: 250px;
  padding: 30px;
  text-align: left;
  position: relative;
  border-radius: 5px;
}
body .main-container .mid-container .parent > div .text-content {
  width: 90%;
}
body .main-container .mid-container .parent > div .text-content :nth-child(1) {
  font-weight: 400;
  font-size: 24px;
  color: #666666;
}
body .main-container .mid-container .parent > div .text-content :nth-child(2) {
  padding-top: 10px;
  color: #b3b3b3;
}
body .main-container .mid-container .parent > div img {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 50 px;
}
body footer div {
  margin-top: 40px;
  margin-bottom: 20px;
}
body footer div .attribution {
  font-size: 11px;
  text-align: center;
}
body footer div .attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=style.css.map */